{% extends "padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="fw-bolder">BIENVENIDO AL APARTADO QUE HABLA SOBRE LOS CREADORES DE ESTE BLOG</h1>

{% endblock %}

{% block contenido_que_cambia %}

<p style="font-size: large;" >

    <h2 style="color: blueviolet;  margin-left: 60px;" ><u>Esta pagina esta realizada por:</u></h2> 

    <br>

    <h5 style="margin-left: 100px;"><li><u>Brian Marchese:</u></li></h5>

    <img  style="margin-left: 130px;" width="150px"src="https://media-exp1.licdn.com/dms/image/C4E03AQHef4xuKPy_Kg/profile-displayphoto-shrink_800_800/0/1654896821506?e=1664409600&v=beta&t=0AFw4CG_ck8_NbbvoxgY59CcGiS3Imu48GKRz6k7vn4" alt="foto de brian">

    <br>

    <p style="margin-left: 60px; font-size: large;">Hola soy Brian un chico de 19 años que recien comienza en el mundo de la programacion, actualmente me encuentro haciendo el proyecto final del curso de Python de CoderHouse.

    </p> 

    <br>

    <br>

    <br>

    <br>  

    <h5 style="margin-left: 100px;"><li><u>Bruno Tornese:</u></li></h5>

    <img  style="margin-left: 130px;" width="150px"src="https://pbs.twimg.com/profile_images/1183547776866668544/coDYSoAC_400x400.jpg" alt="foto de brian">

    <br>

    <p style="margin-left: 60px; font-size: large;">Hola soy Bruno un joven de 19 años estudiante de programacion en CoderHouse, actualmente estudiando python, me encuentro realizando el proyecto final, AGUANTE PYTHON!!!!!.

    </p> 

    <br>

    <br>

    <br>

    <br>  


</p>

{% endblock %}
